/Client Journaliste/nbproject/private/
/Client Rédacteur Chef/nbproject/private/
/Client Intégrateur/nbproject/private/
/Transmission articles/nbproject/private/
/Mise sous presse/nbproject/private/
/Provider JMS/nbproject/private/
/Gestion publicités/nbproject/private/
/Gestion distributeurs/nbproject/private/
/Archives/nbproject/private/
/Web/nbproject/private/
/Client Distributeur/nbproject/private/
/Client Editeur/nbproject/private/
/Banque/nbproject/private/
/ClientIntegrateur/nbproject/private/
/ClientJournaliste/nbproject/private/
/ClientDistributeur/nbproject/private/
/ClientRedacteurChef/nbproject/private/
/ClientEditeur/nbproject/private/
/TranmissionArticles/nbproject/private/
/TranmissionArticles/TranmissionArticles-war/nbproject/private/
/TranmissionArticles/TranmissionArticles-ejb/nbproject/private/
/TransmissionArticles/nbproject/private/
/TransmissionArticles/TransmissionArticles-war/nbproject/private/
/TransmissionArticles/TransmissionArticles-ejb/nbproject/private/
/MiseSousPresse/nbproject/private/
/MiseSousPresse/MiseSousPresse-war/nbproject/private/
/MiseSousPresse/MiseSousPresse-ejb/nbproject/private/
/GestionPublicites/nbproject/private/
/GestionPublicites/GestionPublicites-war/nbproject/private/
/GestionPublicites/GestionPublicites-ejb/nbproject/private/